
/* css toutes les pages html*/

html {
    position: relative;
    min-height: 100%;
    

}

h2{
    text-align: center;
    
}

 
/*css corps de chaque page*/
#global{
	margin-top: 20px;
	margin-left: 100px;
	
}





.head_carousel{
	text-align: center;
}



/*css footer*/
 
.footer {
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #000000;
    color: #FFFFFF;
}


/*css barre de naviguation*/

.nav-item {
	color: #007971;

}
.btn{
    color: #FFFFFF;
}
.nav-link {
    color: #f89c33;

}

.navbar  {
    background-color: #007888;
}

 .dropdown-item {
   color: #007971;
}
