

html {
    position: relative;
    min-height: 100%;

}
 
#global{
	margin-top: 20px;
	margin-left: 100px;
	
}



.head_carousel{
	text-align: center;
}

 
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #000000;
    color: #FFFFFF;
}

.nav-item {
	color: blue;

}